@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #2f363e;
    color: snow;
}

h1 {
    text-align: center;
    color: teal;
}

button {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    color: snow;
    background-color: teal;
    transition: all 0.2s;
}

button:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #263a52;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.add-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.booksList {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 5rem;
    /* margin-left: 50px */
    /* grid-auto-columns: minmax(1fr, auto); */
    /* justify-items: center; */
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25);
    /* width: calc(100% / 3); */
}

label {
    display: inline-block;
    width: 60px;
}
